//@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

// Gilroy

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Light/Gilroy-Light.eot');
	src: url('../fonts/Gilroy/Light/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Light/Gilroy-Light.woff2') format('woff2'),
	url('../fonts/Gilroy/Light/Gilroy-Light.woff') format('woff'),
	url('../fonts/Gilroy/Light/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Regular/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy/Regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Regular/Gilroy-Regular.woff2') format('woff2'),
	url('../fonts/Gilroy/Regular/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy/Regular/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Medium/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy/Medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Medium/Gilroy-Medium.woff2') format('woff2'),
	url('../fonts/Gilroy/Medium/Gilroy-Medium.woff') format('woff'),
	url('../fonts/Gilroy/Medium/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Bold/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy/Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/Bold/Gilroy-Bold.woff2') format('woff2'),
	url('../fonts/Gilroy/Bold/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy/Bold/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.eot');
	src: url('../fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'),
	url('../fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.woff') format('woff'),
	url('../fonts/Gilroy/ExtraBold/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

// GothamPro
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
	url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
	url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


// Helvetica
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica/Regular/Helvetica-Regular.eot');
	src: url('../fonts/Helvetica/Regular/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Helvetica/Regular/Helvetica-Regular.woff2') format('woff2'),
	url('../fonts/Helvetica/Regular/Helvetica-Regular.woff') format('woff'),
	url('../fonts/Helvetica/Regular/Helvetica-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica/Bold/Helvetica-Bold.eot');
	src: url('../fonts/Helvetica/Bold/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Helvetica/Bold/Helvetica-Bold.woff2') format('woff2'),
	url('../fonts/Helvetica/Bold/Helvetica-Bold.woff') format('woff'),
	url('../fonts/Helvetica/Bold/Helvetica-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}